@import "tailwindcss";

/* Add --prefersdark so you can setup a theme that will be used if 
user has dark mode enable in system settings*/
@plugin "daisyui" {
    themes: night --default; 
  }

@theme {
    --color-custom-primary: #11162e;
    --color-custom-primary-light: #1d2448;
    --color-custom-primary-dark: #0a0e1f;
    --color-custom-secondary: #3a5ea4;
    --color-custom-accent: #f4b400;
    --color-custom-primary-outline: #54526d;
  }